/* Regole generali */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.p-center {
    padding: 0 10%;
}

/* Buttons */
.btn {
    padding: 10px 25px;
    border: solid 1px #fff;
    border-radius: 8px;
    text-decoration: none;
    color: #fff;
}

.btn-green {
    background-color: #74b322;
    border: 0;
}

.btn-large {
    padding: 25px 35px;
}


/* *** HEADER *** */
header {
    background-color: #112c50;
}

/* ** MENU ** */
/* Regole generali */
#nav-menu::after {
    content: "";
    display: table;
    clear: both;
}

#nav-menu #logo {
    float: left;
    width: 13%;
    margin-top: 15px;
}

#nav-menu #logo img {
    vertical-align: middle;
}

.menu-inline {
    margin-top: 10px;
    text-align: center;
}

.menu-inline li {
    display: inline-block;
}

.menu-inline li a {
    display: inline-block;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    line-height: 60px;
}

/* Regole specifiche menu */
/* MENU Sinistra */
#menu-sx {
    float: left;
    width: 45%;
    text-align: left;
}

/* MENU Destra */
#menu-dx {
    float: left;
    width: 42%;
    text-align: right;
}


/* *** SEZIONE JUMBOTRON *** */
.container-full {
    margin-top: 75px;
    background-image: url("../img/fluentify-jumbo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 105%;
}

.jumbotron {
    height: 500px;
    width: 60%;
    padding-top: 80px;
    color: #fff;
}

.jumbotron h1 {
    padding-bottom: 60px;
    font-size: 62px;
}

.jumbotron a {
    text-decoration: none;
}
/* /JUMBOTRON */


/* *** MAIN *** */
#main-header {
    padding: 50px 0;
    background-color: #dacece;
    text-align: center;
}

#main-header h2 {
    padding-bottom: 15px;
    font-size: 28px;
    font-weight: bold;
}

#main-header span {
    font-size: 20px;
    font-weight: bold;
    color: #595656;
}

.col-3 {
    /* DEBUG:  */
    background-color: red;
    height: 400px;
}

.col-2 {
    /* DEBUG:  */
    background-color: blue;
    height: 400px;
}

#struttura-piano {
    /* DEBUG:  */
    background-color: #dacece;
    height: 150px;
}
